/* PAGE */
.about-page {
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

/* HERO */
.about-hero {
  height: 50vh;
  background: url("../assets/images\ \(1\).jpeg") center/cover no-repeat;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

/* HERO TEXT */
.about-hero-content {
  position: relative;
  text-align: center;

  background: rgba(255,255,255,0.1);
  padding: 25px 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.about-hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.about-hero-content p {
  margin-top: 10px;
  color: #e5e7eb;
}

/* MAIN SECTION */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  padding: 60px 40px;
  flex-wrap: wrap;
}

/* IMAGE */
.about-image img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* TEXT */
.about-text {
  max-width: 500px;
}

.about-text h2 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.about-text p {
  margin-top: 10px;
  color: #d1d5db;
}

/* BUTTON */
.about-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 8px;

  background: linear-gradient(90deg, #2563eb, #38bdf8);
  color: white;
  border: none;

  cursor: pointer;
}